html {
    background: #018ded
      url(https://images.unsplash.com/photo-1584892905725-bdac5b99e55a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw3MDAyMzY2MHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60);
    /* url(http://unsplash.it/1500/1000?imahe=881&blur=50); */
    background-size: cover;
    /* The background-size CSS property sets the size of the element's background image. The image can be left to its natural size, stretched, or constrained to fit the available space. */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10px;
  }
  body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }
  .clock {
    width: 30rem;
    height: 30rem;
    border-radius: 20px solid rgb(54, 47, 47);
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .clock-face {
    position: relative;
    height: 100%;
    width: 100%;
    transform: translateY(-3px);
  }
  .hand {
    width: 50%;
    height: 6px;
    background: white;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  }